  /* Para logout.html */
  #logOut{
    font-size: 60px;
    font-family: monospace;
    text-align: center;
    padding: 200px 50px 0px 150px;

  }
  .pantalla{
    background-color: orange;
  }
  /*para coders.html */
  .coder{
    background-color: orange;
    font-size: 17px;
    width: 250px;
    height: 180px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 20px 20px 20px 20px;
    display: inline-block;
    margin: 30px 0 0 30px; 
    font-family: cursive;

  }
  #regresar{
    font-family: cursive;
    margin: 50px ;
    display: block;
}

  /* index.html */

  #sprint-1{
    display: none;
  }
  #sprint-2{
    display: none;
  }


  .dropbtn {
    background-color: white;
    color: black;
    padding: 7px 10px;
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: #eee;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #eee;
  }

  .show {
    display:block;
  }
